.single-main {
  display: block;
  background-repeat: no-repeat;
  .l-single-container {
    width: 700px;
    margin: 0 auto;
    background-color:#fff;
    border: 1px solid #ccc;
    .l-chapter-head {
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
      text-align: center;
    }
    .complete-text{
      text-align: center;
      p{
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}
.fGgmnV {
  background-image: url(complete2.jpeg);
  background-position: center center;
}
.dwmYZi {
  font-size: 35px;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
.frciUi {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.icSZfi {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 750px;
  margin: 0px auto;
}
.iKnetp {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 15px;
}
.iMESHD {
  height: 68px;
  margin-right: 20px;
  width: 68px;
}
img {
  vertical-align: middle;
}
.sc-image{
  height: 250px;
  width: 300px;
}