.single-main {
  display: block;
  background-repeat: no-repeat;
  .l-single-container {
    width: 700px;
    margin: 0 auto;
    background-color:#fff;
    .l-chapter-head {
      font-size: 22px;
      padding: 32px;
      
      font-weight: bold;
      text-align: center;
    }
  }
  .form-group {
    margin: 20px 0 0;
    .form-group label {
      font-weight: 600;
      display: inline-block;
      position:float;
      .form-group:first-child {
        margin: 0; 
      }
    }
    .signup-card-list {
      display: flex;
      margin: 8px 0px 0;
      font-size: 0;
      list-style: none;
      li{
        margin-right: 8px;
      }
    }

  }
  .select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .signup-form-expire .select-wrap.half {
    display: inline-block;
    width: calc(50% - 2px);
  }
    .signup-form-expire .select-wrap select {
      display: inline-block;
      width: calc(100% - 38px);
  }
  .signup-seqcode-text {
    text-align: right;
    color: #0099e8;
  }
}
 // .l-chapter-container {
  //   margin: 40px 0 0;
  //   background: #fff;
  //   .l-chapter-head {
  //     font-size: 24px;
  //     padding: 8px 24px;
  //   }
  //   .l-chapter-head {
  //     padding: 12px 4%;
  //     border-bottom: 1px solid #f5f5f5;
  //     text-align: center;
  //     font-size: 18px;
  //   }
  //   h2 {
  //     font-size: 22px;
  //     line-height: 1.4;
  //   }
  //   .l-single-inner.registration-form {
  //     padding: 40px 40px 64px;
  //   }
  //   .l-single-inner.registration-form {
  //     padding: 24px 16px 40px;
  //   }
  //   .l-single-inner {
  //     padding: 64px;
  //   }
  //   .l-single-inner {
  //     border-top: 1px solid #f5f5f5;
  //     padding: 40px;
  //   }
  //   .l-single-inner.registration-form .l-single-content {
  //     max-width: 343px;
  //   }
  //   .l-single-content {
  //     max-width: 320px;
  //     margin: 0 auto;
  //     .form-group:first-child {
  //       margin: 0;
  //     }
  //     .form-group {
  //       margin: 40px 0 0;
  //       .form-group label {
  //         font-weight: 600;
  //       }
  //       label {
  //         display: inline-block;
  //       }
  //       .form-require {
  //         background: #ea352d;
  //       }
  //       .form-require, .form-arbitrary, .message-is-seller, .news-private {
  //         margin: 0 0 0 8px;
  //         padding: 2px 4px;
  //         border-radius: 2px;
  //         color: #fff;
  //         font-size: 12px;
  //         vertical-align: top;
  //       }
  //       .form-group .input-default {
  //         width: 100%;
  //         margin: 8px 0 0;
  //       }
  //       .input-default {
  //         height: 48px;
  //         padding: 10px 16px 8px;
  //         border-radius: 4px;
  //         border: 1px solid #ccc;
  //         background: #fff;
  //         line-height: 1.5;
  //         font-size: 16px;
  //       }
  //       .has-error-text {
  //         color: #ea352d;
  //         line-height: 1.5;
  //         font-size: 14px;
  //       }
  //       ul, ol {
  //         list-style: none;
  //       }
  //       .signup-card-list {
  //         margin: 8px 0 0;
  //         font-size: 0;
  //       }
  //       img {
  //         vertical-align: middle;
  //       }
  //     }
  //   }
  //   .l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  //     margin-top: 32px;
  //   }
  //   .l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  //     margin: 24px 0 0;
  //   }
  //   .form-group label {
  //     font-weight: 600;
  //   }
  //   label {
  //     display: inline-block;
  //   }
  // }
