body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.progress-2 {
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  &-bar2 {
    margin: 0;
    li {
      margin: 0 40px 0 0;
      padding: 0;
      position: relative;
      z-index: 40;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: gray;
      .progress-status-2 {
        position: absolute;
        left: 40%;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: gray;
        border-radius: 50%;
        z-index: 30;
      }
    }
  }
}
.progress-status_bar {
  position: absolute;
  left: 50%;
  top: 25px;
  bottom: 5px;
  display: block;
  width: 130px;
  height: 2px;
  background: gray;
  z-index: 10;
}
.end .progress-status_bar {
  width: 0px;
}
.payment .progress-status_bar {
  width: 100px;
}
.single-main{
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 130px;
  .l-single-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    .l-single-inner.registration-form .l-single-content {
      max-width: 343px;
      margin: 0 auto;
      .form-group .input-default2 {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px 16px 8px;
        font-size: 16px;
        font-weight: normal;
      }

    }
    .l-single-content p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .l-single-head.registration .l-chapter-head.registration {
      font-size: 22px;
      padding: 32px;
    }
    .l-single-inner.registration-form {
      padding: 40px 40px 64px;
    }
    .form-group.text-right{
      margin: 24px 0 0;
      display: inline-block;
      .link_decoration2{
      display: inline-block;
      color: #0099E8;
      margin-left: 170px;
      }
      .rightIcon2{
        color: #0099E8;
      }
    }
  }
}
