= render "shared/main-header"
.mypage
  = render "users/side_bar"
  %section.add-card
    %h2.add-card__head
      支払い方法
    .add-card__list
      %section
        .add-card__list__content
          %h3 クレジットカード一覧

= render "shared/main-footer"