= render "shared/main-header"
.mypage
  = render "users/side_bar"
  %section.add-card
    %h2.add-card__head
      支払い方法
    .add-card__list
      %section
        .add-card__list__head
          %h3 クレジットカード一覧
        %ul.add-card__list__contents
          %li
            %form
              %figure


= render "shared/main-footer"