-#エラーメッセージ 
- if @item.errors.any?
  #error_explanation
    %ul
      - @item.errors.full_messages_for(column.to_sym).each do |message|
        %li= message

      -# - @item.errors.full_messages_for(:message).each do |message|
        