.category-bar
  %h2 人気のカテゴリー
  .category
    %ul.blocks
      %li.category-block
        =link_to '#', class: 'category-btn' do
          レディース
      %li.category-block
        =link_to '#', class: 'category-btn' do
          メンズ
      %li.category-block
        =link_to '#', class: 'category-btn' do
          家電・スマホ・カメラ
      %li.category-block
        =link_to '#', class: 'category-btn' do
          おもちゃ・ホビー・グッズ
  
