%aside.sc-gJWqzi.iLrHTK.sc-ejGVNB.jhKaBG
  .sc-eLdqWK.fHDZzr.sc-fEUNkw.koblMM
    %a.sc-dREXXX.hwsJbg{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=common.footer"}
      %img.sc-dHmInP.ONewA{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
      .sc-kcbnda.fkvtFr
        スマホでかんたんフリマアプリ
        .sc-hcmgZB.gvBuyn 今すぐ無料ダウンロード！
  .sc-iiUIRa.bvXUar.sc-cTjmhe.fGgmnV
    .sc-cugefK.icSZfi
      .sc-fnwBNb.iKnetp
        .sc-iNhVCk.frciUi スマホでかんたんフリマアプリ
        .sc-eAKXzc.dwmYZi 今すぐ無料ダウンロード！
        .sc-bfYoXt.kogafa
          %img.sc-gbOuXE.iMESHD{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
          %a.sc-dRFtgE.bGXEwY{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
            %img.sc-gkFcWv.sc-hUfwpO.flqOVO{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a.sc-dRFtgE.bGXEwY{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
            %img.sc-gkFcWv.sc-imABML.ddQRzh{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      %figure.sc-cjHlYL.jmwEsc
        %img.sc-dRaagA.fhsFbf{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
