.buy-content:last-of-type {
  padding: 24px 12.5% 40px;
}
.buy-content:last-of-type {
  padding: 40px 12.5%;
}
.buy-content:first-of-type {
  margin: 0;
}
.buy-content {
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
}
p{
  font-size: 14px;
  color: #0099E8;
}