// 商品出品ページCSS
.item-exhibition-main-container{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
} 

.sell-item{
  width: 700px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  // &__container{
  // }
  h2.item-regi-head{
    padding: 32px 16px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
} 
// 商品情報入力画面
.form-container{
  border-top: 1px solid #eee;
}

// 画像アップロードタイトル
.sell-upload-box{
  width: 620px;
  padding: 40px;

  &__title{
    width: 100%;
    &__title{
      font-size: 16px;
      font-weight: bold;
    }
    // 必須ボタンCSSはvariables.scssにて@mixin requiredとして定義
    &__required{
      @include required;
    }
  }
  p{
    margin: 8px 0 0;
    line-height: 1.5;
  }
}
// グレーの画像アップロード箇所
.sell-upload-box__image{
  width: 620px;
  margin: 16px auto 0;
  .image-container{
    display: inline;
    // .upload-images{

    // }
    // .have-image-0{

    // }
  }
  .image-dropzone{
    width: 100%;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    padding: 40px;
    cursor: pointer;
    .drop-file{
      display: none;
      
      touch-action: manipulation;
    }
    .text{
      color: #333;
      text-align: center;
      font-size: 14px;
      line-height: 50px;
      white-space: pre-wrap;
      word-wrap: break-word;
      display: block;
    }
  }

}


// 商品名〜
.sell-content-box-top{
  padding: 40px;
  border-top: 1px solid #eee;
  &__title{
    font-weight: bold;
    font-size: 14px;
  }
  // 必須文字
  &__required{
    @include required;
  }
  .text_field{
    @include text_field-default;
    width: 100%;
    margin: 8px 0 0;
  }
  .text_area{
    @include text_area-default;
    margin: 8px 0 0;
    min-height: 104px;
  }
  .description{
    margin-top: 40px;
  }
}

.sell-content-box{
  padding: 40px;
  border-top: 1px solid #eee;
  display: flex;
  .sell-left-block{
    width: 220px;
    height: 250px;
    display: flex;
    margin: 0;
    .head-text{
      color: #888;
      font-size: 14px;
      display:inline-block;
      .question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .sell-form-box{
    width: 400px;
    height: auto;
    margin: 0;
    display: block;
    .form-block{
      width: 400px;
      height: auto;
      margin: 40px 0 0;
      .sell-price{
        padding: 0 0 24px;
        display: flex;
        .price-left{
          width: 50%;
          font-weight: 600;
          line-height: 48px;
        }
        .price-right{
          width: 50%;
          display: flex;
          line-height: 48px;
          .price-input{
            @include text_field-default;
            width: 100%;
            margin-left: 15px;
            text-align: right;
          }
        }
      }
      label{
        font-weight: 600;
        display: inline-block;
      }
      // 必須文字
      .required{
        @include required;
      }
        // 任意文字
      .optional{
        @include required;
        background: #ccc;
      }
      .price-block{
        width: 400px;
        height: 218px;
        list-style: none;
        .margin{
          padding: 24px 0;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          display: flex;
          justify-content: space-between;
        }
        .profit{
          padding: 24px 0;
          display: flex;
          justify-content: space-between;
          .bigger {
            font-size: 16px;
          }
          .sales-profit{
            font-size: 34px;
          }
        }
      }
      .select-wrap{
        margin: 8px 0 0;
        position: relative;
        .collection_select-default{
          @include select-default;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          
        }
        i{
          position: absolute;
          top: 15px;
          right: 18px;
          color: #888;
          font-size: 18px;
        }
      }
    }
    // 各selectの先頭selectタグ用
    #first-child{
      margin: 0;
    }
    #second-child{
      margin: 0;
    }
  }
}

.sell-content-box-bottom{
  padding: 40px;
  border-top: 1px solid #eee;
  // 最下段 出品するボタン
  .exhibit-button-bar{
    @include button-default;
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  // もどるボタン
  .go-back-button{
    @include button-default;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    width: 45%;
    margin: 24px auto 0;
  }
}

#error_explanation{
  color: red;
  margin: 8px 0 8px;
}