.main-header__inner__bottom__left__block{
  position: relative;

  &:hover > ul.root-category-list {
    display: block;
    position: absolute;
    z-index:10;
    top: 34px;
  }
  ul {
    display: none;
    border: 1px solid #ccc;

    li.root-category-list__detail {
      font-weight: normal;
      width: 220px;
      font-size: 15px;
      height: 55px;
      padding: 10px;
      line-height: 47px;
      position: relative;
      background-color: white;
      a{
        color: black;
      }
      &:hover {
        background-color: #ea352d;
        a{
          color: white;
        }
        ul {
          display: block;
          li {
            display: block;
            height: 44px;
          }
        }
      }
      ul {
        position: absolute;
        top: 0;
        font-weight: normal;
        li {
          width: 250px;
          height: 110;
          display: none;
          &:hover {
            color: #ccc;
            ul{
              li.children-category-list {
                &__detail {
                  display: block;
                  width: 250px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
    ul.children-category-list {
      position: absolute;
      top: 0;
      left: 220px;
      height: 616px;
      background-color: blue;
      // border-right: 1px solid #ccc;
      &__detail {
        width: 220px;
        height: 0;
        left : 0;
        display: none;
        background-color: white;

        &:hover {
          color: #ccc;
          background-color: gold;
          ul.grandchildren-category-list{
            display: none;
            &__detail {
              display: block;
              height: 30px;
              position: relative;
            }
          }
        }
        ul.grandchildren-category-list {
          position: absolute;
          top: 0;
          left: 220px;
          height: 616px;
          display: none;
          border-right: 1px solid #ccc;
          li.grandchildren-category__detail {
            width: 300px;
            height: 0;
            display: none;
            background-color: white;
            background-color: green;
          }
        }
      }
    }
  }
}

// .header-text__category {
//   position: relative;

//   &:hover > ul.root-category-list {
//     display: block;
//     position: relative;
//     visibility: visible;
//     opacity: 1;
//   }
//   ul.root-category-list{
//     position: absolute;
//     display: none;
//     font-weight: normal;
//     text-decoration: none;
//     border: solid 1px #ccc;

//     a{
//       color: black;
//     }
//     li{
//       height: 44px;
//       &:hover {
//         position: relative;
//         display: block;
//         background-color: #ea352d;
//         height: 44px;
//         a{
//           color: white;
//         }
//       }
//     }
//   }
//   li.root-category-list__detail:hover > ul.children-category-list {
//     display: flex;
//     top: 0;
//     left: 100px;
//     background-color: blue;
//     visibility: visible;
//     opacity: 1;
//   }
//   ul.children-category-list{
//     position: absolute;
//     font-size: 14px;
//     display: none;
//     left: 200px;
//     border: solid 1px #ccc;

//     a{
//       color: black;
//     }
//     li {
//       height: 44px;
//       position: relative;
//       &:hover {
//         background-color: #ccc;
//         display: block;
//         height: 44px;
//         a {
//           color: white;
//         }
//       }
//     }
//   }
//   li.children-category-list__detail:hover > ul.grandchildren-category-list {
//     // display: block;
//     display: flex;
//     visibility: visible;
//     opacity: 1;
//   }
//   ul.grandchildren-category-list {
//     position: absolute;
//     display: none;
//     font-size: 14px;
//     border: solid 1px #ccc;
//     background-color: yellow;

  
//     a{
//       color: black;
//     }
//     li {
//       height: 44px;
//       position: relative;
//       &:hover {
//         background-color: #ccc;
//         a{
//           color: white;
//         }
//       }
//     }
//   }
// }
// .header-text__category {
//   position: relative;
//   li.root-category-list__detail:hover > ul.children-category-list {
//     background-color: blue;
//     display: block;
//     position:absolute;
//   }
//   .children-category-list{
//     font-size: 14px;
//     display: none;
//     a{
//       color: black;
//     }
//     li {
//       height: 44px;
//       &:hover {
//         background-color: #ccc;
//         display: block;
//         height: 44px;
//         top: 10px;
//         a {
//           color: white;
//         }
//       }
//     }
//   }
// }
// .header-text__category{
//   li.children-category-list__detail:hover > ul.grandchildren-category-list {
//     display: block;
//     position: absolute;
//   }
//   .grandchildren-category-list {
//     font-size: 14px;
//     display: none;
  
//     a{
//       color: black;
//     }
//     li {
//       height: 44px;
//       &:hover {
//         background-color: #ccc;
//         display: block;
//         height: 44px;
//         top: 10px;
//         a{
//           color: white;
//         }
//       }
//     }
//   }
// }
// .header__menu-box {
//   height: 46px;
//   margin: 8px 0 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   &__left {
//     display: flex;
//     justify-content: space-between;
//     &__icon {
//       color: $main_red;
//       font-size: 12px;
//       margin-right: 4px;
//     }
//     ul {
//       li.header__menu-box--left__category {
//         font-weight: bold;
//         font-size:14px;
//         margin-right: 10px;
//         height: 55px;
//         line-height: 46px;
//         position: relative;
//         &:hover {
//           color: $main_blue;
//           ul {
//             li {
//               display: block;
//               height: 44px;
//             }
//           }
//         }
//         ul {
//           position: absolute;
//           top: 44px;
//           z-index: 1000;
//           font-weight: normal;
//           li {
//             width: 220px;
//             height: 0;
//             display: none;
//             background-color: white;
//             &:hover {
//               color: $main_blue;
//               .header__menu-box--left__children {
//                 &__child {
//                   display: block;
//                   height: 30px;
//                 }
//               }
//             }
//             a {
//               @include dropMenu_aTag(44px);
//               &:hover {
//                 background-color: $main_red;
//                 color: white;
//               }
//             }
//             .header__menu-box--left__children {
//               position: absolute;
//               top: 0;
//               left: 220px;
//               z-index: 1000;
//               height: 616px;
//               background-color: white;
//               border-right: 1px solid $main_gray;
//               &__child {
//                 width: 220px;
//                 height: 0;
//                 display: none;
//                 background-color: white;
//                 &:hover {
//                   color: $main_blue;
//                   .header__menu-box--left__grand-children {
//                     &__grand-child {
//                       display: block;
//                       height: 30px;
//                     }
//                   }
//                 }
//                 a {
//                   @include dropMenu_aTag(30px);
//                   font-size: 14px;
//                   &:hover {
//                     background-color: #f3f3f3;
//                   }
//                 }
//                 .header__menu-box--left__grand-children {
//                   position: absolute;
//                   top: 0;
//                   left: 220px;
//                   z-index: 1000;
//                   height: 616px;
//                   background-color: white;
//                   border-right: 1px solid $main_gray;

//                   &__grand-child {
//                     width: 300px;
//                     height: 0;
//                     display: none;
//                     background-color: white;
//                     a {
//                       @include dropMenu_aTag(30px);
//                       font-size: 14px;
//                       &:hover {
//                         background-color: #f3f3f3;
//                       }
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }