.main-header {
  background-color: rgb(255, 255, 255);
  position: relative;
  color: $black;
  &__inner{
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    &__top{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__logo{
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
      }
      &__search{
        position: relative;
        width: 100%;
        &__bar{    
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          width: calc(100% - 14px);
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
          &:focus {
            border: 1px solid skyblue;
            outline: none;
          }
        }
        .search-btn{
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          position: absolute;
          right: 15px;
          top: 0px;
          width: 40px;
          border-style: none;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
          &:focus {
            outline: none;
          }
        }
        i {
        color: #434a54;
        position: absolute;
        top: 14px;
        right: 15px;
        cursor: pointer;
        }
      }
    }
    // メインヘッダー下段部分
    &__bottom{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;
      &__left{
        float: left;
        display: flex;
        margin-left: -3px;
        font-size: 14px;
        font-family: "游ゴシック体", "YuGothic";
        color: #333;
        font-weight: bold;
        vertical-align: middle;
        &__block{
          padding-right: 10px;
          margin: 10px 0px 0px 10px;
          .header-text {
            &__category, &__brand{
              &:hover{
                color: $link-blue;
              }
            }
            &__category:before{
              font-family: fontawesome;
              color: red;
              content: "\f03a";
            }
            &__brand:before{
              font-family: fontawesome;
              content: "\f02b";
              color: red;
            }
          }
        }
      }

// メインヘッダー 下段右下-未ログイン時
      &__right__block{
        display: flex;
        &__register{
          text-align: center;
          text-decoration: none;
          .btn-red{
            background-color: rgb(234, 53, 45);
            color: rgb(255, 255, 255);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(234, 53, 45);
            border-image: initial;
            border-radius: 4px;
            padding: 8px 10px;
          }
        }
        &__login{
          text-align: center;
          margin-left: 11px;
          .btn-blue{
            background-color: rgb(255, 255, 255);
            color: rgb(0, 149, 238);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(0, 149, 238);
            border-image: initial;
            border-radius: 4px;
            padding: 8px 10px;
            transition: all 0.3s ease-out 0s;
          }
        }
        .header-btn{
          text-decoration: none;
        }
      }
    }
  }
}

// メインヘッダー右下部分ーログイン時
.main-header__inner__bottom__right__block-logged-in{
  float: right;
  .lists-logged-in{
    display: flex;
    .list{
      vertical-align: middle;
      display: flex;
      height: 44px;
      line-height: 32px;
      font-size: 14px;
      color: #333;
      margin: 0 14px 0;
      .flex{
        display: flex;
        width: 100%;
        .text{
          color: #333;
          font-size: 14px;
          &:hover{
            color: $link-blue;
          }
          &:before{
            font-family: fontawesome;
            font-size: 16px; 
            color: #ccc;
            margin-right: 10px;
          }
          &:hover:before{
            color:rgb(0, 149, 238);
          }
        }
        .liked:before{
          content: '\f004'; //ハートアイコン
        }
        .notification:before{
          content: "\f0f3"; //ベル
        }
        .todo:before{
          content: '\f00c'; //チェック
        }
      }
      .circle-photo{
        width: 32px;
        height: 32px;
        background-color: lightgray;
        border-radius: 50px;
        margin-right: 10px;
      }
    }
  }
}
