.main-box
  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        レディース新着アイテム
      .main-box__category__bar__link      
        もっと見る
        %i.fa.fa-chevron-right

    .main-box__category__content
      .main-box__category__content__grid
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース

  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        メンズ新着アイテム
      .main-box__category__bar__link      
        もっと見る
        %i.fa.fa-chevron-right

    .main-box__category__content
      .main-box__category__content__grid
        =link_to "#"do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース
        =link_to "#" do
          .box
            .price ¥2,000
            =image_tag "/assets/item/nori.jpg", class: "image-box"
            .title-text ケース