.category-bar
  %h2.sub-title 人気のカテゴリー
  .category
    %ul.blocks
      %li.category-block
        =button_tag class: 'category-btn ladies-btn'do
          レディース
      %li.category-block
        =button_tag class: 'category-btn mens-btn' do
          メンズ
      %li.category-block
        =button_tag class: 'category-btn e-appliances-btn' do
          家電・スマホ・カメラ
      %li.category-block
        =link_to '#', class: 'category-btn' do
          おもちゃ・ホビー・グッズ
  
