.main-box
  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        レディース新着アイテム
      .main-box__category__bar__link      
        もっと見る
    .main-box__category__content
      .main-box__category__content__grid
        .main-box__category__content__grid__columns


  

