-# item showページ 出品アイテムの編集、出品停止ボタン
.status-button-box
  .status-change-buttons
    -# =link_to "商品の編集", edit_item_path(@item.id), class: "button_bar_red"  
    =link_to "商品の編集", edit_item_path, class: "button_bar red"    
    %p or
    =form_with do |f|
      -# ルートがまだないため、リンク類は仮置きです
      = f.submit "出品を一旦停止する", class: "button_bar gray"
    
      =link_to "この商品を削除する", @item, method: :delete, class: "button_bar gray"
      
      -# = f.submit "この商品を削除する",  class: "button_bar gray"


