* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}
.progress-bar.signup-bar{
  padding: 40px 0 0 44px;
  border: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  .clearfix{
    margin: 0;
    display: flex;
    color: #ccc;
    font-size: 12px;
    border-style: solid;
    .active{
      font-weight: bold;
      color: #ea352d;
      margin: 0 40px 0 0;
      .progress-status-select{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ea352d;
        border-radius: 50%;
        border-style: solid;
        border-width: 0;

        // &:before{
        //   background-color: #ccc;
        //   display: block;
        //   width: 100px;
        //   height: 2px;
        //   content: "";
        //   bottom: 5px;
        //   z-index: -1;
        // }
      }

    }
    .line{
      background-color: #ccc;
      position: float;
      width: 100px;
      margin-left: 5px;
      margin-top:10px;
      height: 2px;
    }
    .activeNext{
      margin: 0 40px 0 0;
    }
    .progress-statusComplete{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      border-style: 1px solid #ccc;
      background-color: #ccc;
      display: block;
    }
    .progress-status{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;
      border-style: 1px solid #ccc;
      
      // &:before{
      //   background-color: #ccc;
      //   display: block;
      //   c;
      //   height: 2px;
      //   content: "";
      //   z-index: -1;
      // }
    }
  }
}
.single-main{
  display: block;
  background-repeat: no-repeat;
  .l-single-container{
    width: 700px;
    margin: 0 auto;
    background-color:#fff;
  }
  .form-group{
    font-weight: bold;
    margin-top: 32px;
    margin: 24px 0 0;
  }
  .form-require {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .form-group .input-default {
    width: 100%;
  }
  .input-default {
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  .input-default.half:first-of-type {
    margin-right: 8px;
    display: inline-block;
  }
  .input-default.half {
    width: calc(50% - 6px);
    display: inline-block;
  }
  .l-chapter-sub-head {
    font-weight: bold;
    font-size: 16px;
  }
  .l-single-content p.l-single-text {
    margin: 8px 0 0;
    padding: 0;
    
  }
  
  
  .birthday-select-wrap .select-wrap+span {
    margin: 0 2px;
  }
  .birthday-select-wrap .select-wrap .select-default {
    padding: 0 10px;
  }
  .form-group select {
    width: 100%;
  }
  .select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  .birthday-select-wrap .select-wrap:first-of-type {
    width: 76px;
  }
  .birthday-select-wrap .select-wrap:first-of-type {
    width: calc(34% - 17px);
  }
  .birthday-select-wrap .select-wrap {
    width: 76px;
  }
  .birthday-select-wrap .select-wrap {
    display: inline-block;
    width: calc(30% - 17px);
  }
  single-inner.registration-form .btn-red {
    margin: 24px 0 0;
  }
  .l-single-inner .btn-red {
    margin: 40px 0 0;
  }
  .btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  .btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}