// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  &__side-bar{
    width: 280px;
    margin: 0 40px 40px 0;
    &__list-item{
      display: block;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      border-bottom:2px solid whitesmoke;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

.mypage-nav__head{
  margin: 40px 0 5px 0;
  font-size: 17px;
}

.main-contents{
  width: 700px;
  &__user{
    background: url(RED19923025_TP_V.jpg);
    height: 200px;
    text-align: center;
    padding-top: 50px; 
    &__icon{
      text-align: center;
      color: black;
    }
  }
}





.user-name{
  margin: 8px 0;
}

.user-info__display{
  display: inline-block;
}



.main-contents__list{
  margin-bottom: 80px;
  width: 700px;
  &__ul{
    height: 80px;
    background-color: #fafafa;
    text-align: center;
    line-height: 80px;
    &__todo{
      cursor: pointer;
      font-size: 20px;
      text-align: center;
      color: #333;
    }
  }
}
.main-contents__list__ul li{
  float: left;
  vertical-align: middle;
  width: 50%;
  transition: .3s;
}
.main-contents__list__ul li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}
.main-contents__list__ul li:nth-child(1) {
	display: block;
}


.mypage__trade__head{
  background-color: #fafafa;
  font-size: 16px;
  padding: 16px;
  line-height: 50px;
}


.lists-way ul {
  display: none;
}
.lists-way ul.show {
  display: block;
}
.lists-way__item{
  margin: 15px 40px 0 68px;
  position: absolute;
}


.user-icon{
  border-radius: 50%;
}

.mini-icon{
  position: absolute;
}

.list-banner{
  display: block;
  min-height: 60px;
  padding: 16px;
  color: #333;
  background-color: #fafafa;
  position: relative;
  border-bottom: 2px solid whitesmoke;
}


.right-allow{
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}

.mypage__go-list{
  padding: 13px;
  background-color: #fafafa;
  a{
    display: block;
    height: 56px;
    margin: 0 auto;
    background: #eee;
    color: #333;
    line-height: 56px;
    text-align: center;
  }
  a:hover{
    background-color: aquamarine;
  }
}


.profile-change{
  width: 700px;
  height: 400px;
  background-color: #fafafa;
  text-align: center;
  &__head{
    font-size: 28px;
    height: 50px;
  }
  &__name{
    background: url(RED19923025_TP_V.jpg);
    height: 150px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__input{
      border-radius: 4px;
      width: 200px;
      height: 40px;
      margin: 35px 0 0 10px;
    }
  }
  &__introduction{
    background-color: #fafafa;
    padding:  25px;
    &__textarea{
      min-height: 216px;
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__button{
    margin: 20px auto;
    background-color: #fb4343;
    color: #fff;
    font-size: 15px;
    width: 600px;
    height: 60px;
  }
}

.user-icon{
  margin-top: 15px;
}

