.mypage{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  &__side-bar{
    width: 280px;
    margin: 0 40px 40px 0;
    &__list-item{
      display: block;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      border-bottom:2px solid whitesmoke;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

.mypage-nav__head{
  margin: 40px 0 5px 0;
  font-size: 17px;
}

.main-contents{
  width: 700px;
  &__user{
    background: url(RED19923025_TP_V.jpg);
    height: 200px;
    text-align: center;
    padding-top: 50px; 
    &__icon{
      text-align: center;
      color: black;
    }
  }
}





.user-name{
  margin: 8px 0;
}

.user-info__display{
  display: inline-block;
}



.main-contents__list{
  margin-bottom: 80px;
  width: 700px;
  &__ul{
    height: 80px;
    background-color: #fafafa;
    text-align: center;
    line-height: 80px;
    &__todo{
      cursor: pointer;
      font-size: 20px;
      text-align: center;
      color: #333;
    }
  }
}
.main-contents__list__ul li{
  float: left;
  vertical-align: middle;
  width: 50%;
  transition: .3s;
}
.main-contents__list__ul li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}
.main-contents__list__ul li:nth-child(1) {
	display: block;
}


.mypage__trade__head{
  background-color: #fafafa;
  font-size: 16px;
  padding: 16px;
  line-height: 50px;
  font-weight: bold;
}


.lists-way ul {
  display: none;
}
.lists-way ul.show {
  display: block;
}
.lists-way__item{
  margin: 15px 40px 0 68px;
  position: absolute;
}


.user-icon{
  border-radius: 50%;
  margin-top: 15px;
}

.mini-icon{
  position: absolute;
}

.list-banner{
  display: block;
  min-height: 60px;
  padding: 16px;
  color: #333;
  background-color: #fafafa;
  position: relative;
  border-bottom: 2px solid whitesmoke;
}


.right-allow{
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}

.mypage__go-list{
  padding: 13px;
  background-color: #fafafa;
  a{
    display: block;
    height: 56px;
    margin: 0 auto;
    background: #eee;
    color: #333;
    line-height: 56px;
    text-align: center;
  }
  a:hover{
    background-color: aquamarine;
  }
}


.profile-change{
  width: 700px;
  height: 400px;
  background-color: #fafafa;
  text-align: center;
  &__head{
    font-size: 28px;
    height: 50px;
  }
  &__name{
    background: url(RED19923025_TP_V.jpg);
    height: 150px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__input{
      border-radius: 4px;
      width: 200px;
      height: 40px;
      margin: 35px 0 0 10px;
    }
  }
  &__introduction{
    background-color: #fafafa;
    padding:  25px;
    &__textarea{
      min-height: 216px;
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__button{
    margin: 20px auto;
    background-color: #fb4343;
    color: #fff;
    font-size: 15px;
    width: 600px;
    height: 60px;
  }
}




.logout-page{
  height: 170px;
  width: 100%;
  background-color: white;
  &__btn{
    margin: 0 auto;
    background: #ea352d;
    border: 1px solid #ea352d;
    width: 40%;
    height: 30%;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 50px;
    line-height: 50px;
  }
}



.mypage-identification{
  width: 700px;
  height: 1150px;
  background-color: #fff;
  &__head{
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
  }
  &__form{
    padding: 64px;
    &__pop{
      text-align: right;
      padding: 10px;
      &__go{
        color: blue;
      }
      &__go:hover{
        color: #0099e8;;
      }
    }
  }
}
.mypage-identification__form__group{
  margin-top: 40px;
}
.mypage-identification__form__group label{
  font-weight: 600;
}
.mypage-identification__form__group p{
  margin-top: 8px;
}
.form-postal-code{
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registar-btn{
  margin: 0 auto;
  background: #ea352d;
  border: 1px solid #ea352d;
  width: 100%;
  height: 50px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}


.add-card{
  width: 700px;
  height: 350px;
  background-color: #fff;
  &__head{
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
  }
  &__list{
    padding: 64px;
    &__head{
      max-width: 320px;
      margin: 0 auto;
      & h3{
        font-size: 16px;
      }
    }
    &__btn{
      border-bottom: 1px solid #eee;
      padding-bottom: 24px;
      content: '\f0ca';
      color: red;
      &__red{
        margin: 0 auto;
        background: #ea352d;
        border: 1px solid #ea352d;
        width: 50%;
        height: 50px;
        color: #fff;
        display: block;
        text-align: center;
        margin-top: 30px;
        line-height: 50px;
      }
    }
  }
}

.card-content {
  max-width: 320px;
  margin: 0 auto;
}
.set-paymentdetail {
  margin: 8px 0 0;
  font-size: 16px;
}
.set-payment {
  margin: 8px 0 0;
  font-size: 16px;
}
.payment-list li {
  padding: 24px 0;
}
.payment-remove {
  position: absolute;
  top: 270px;
  right: 500px;
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  font-size: 14px;
  color: #ea352d;
}
h3 {
  font-weight: bold;
}
.add-card__list__btn-ex {
  display: block;
  margin: 40px 0 0;
  text-align: right;
}
a {
  color: #0099e8;
  text-decoration: none;
}

.fa-credit-card{
  margin: 0 5px;
}
.payment{
  text-align: right;
  padding: 10px;
  padding: 0 30px 10px 0;
  &__go{
    color: blue;
  }
  &__go:hover{
    color: #0099e8;
  }
}

.card-register{
  width: 700px;
  height: 700px;
  background-color: #fff;
  &__head{
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
  }
}




.exhibit-list{
  min-height: 80px;
  background-color: #fafafa;
  text-align: center;
  line-height: 80px;
  & li{
    float: left;
    vertical-align: middle;
    width: 33%;
    transition: .3s;
  }
  & li.active{
    color: #fff;
    background: #fb4343;
  }
  &__show{
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }
}

.product{
  background-color: #fff;
}
.product__ul li{
  border-bottom: 1px solid #eee;
  position: relative;
}
.product__ul li:hover{
  background-color: aliceblue;
}
.product__link{
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
}
.product__link figure{
  position: relative;
  overflow: hidden;
  float: left;
  width: 48px;
  height: 48px;
}
.product__img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.product-list{
  margin: 0 40px 0 68px
}

.content-count{
  vertical-align: 2px;
  margin: 0 6px 0 0;
}
.product-list__status__icon{
  background-color: #0099e8;
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}

