// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  &__side-bar{
    width: 280px;
    margin: 0 40px 40px 0;
  }
}

.mypage__side-bar__list-item{
  display: block;
  padding: 16px;
  background: #fff;
  font-size: 14px;
  color: #333;
  border-bottom:2px solid whitesmoke;
  &:hover {
    background-color: #eee;
  }
}

.mypage-nav__head{
  margin: 40px 0 5px 0;
  font-size: 17px;
}






.main-contents{
  width: 700px;
}

.main-contents__user{
  background: url(RED19923025_TP_V.jpg);
  height: 200px;
  text-align: center;
  padding-top: 50px; 
}

.main-contents__user__icon{
  text-align: center;
  color: black;
  
}

.user-name{
  margin: 8px 0;
}

.user-info__display{
  display: inline-block;
}



.main-contents__p{
  margin-bottom: 80px;
  width: 700px;
}
.main-contents__p__list{
  height: 80px;
  background-color: #fafafa;
  text-align: center;
  line-height: 80px;
}
.main-contents__p__list li{
  float: left;
  vertical-align: middle;
  width: 50%;
  transition: .3s;
}
.main-contents__p__list__todo{
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #333;
  
}
.main-contents__p__list li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}



.mypage__trade__head{
  background-color: #fafafa;
  font-size: 16px;
  padding: 16px;
  line-height: 50px;
}

.main-contents__p__list li:nth-child(1) {
	display: block;
}
.lists ul {
  display: none;
}
.lists ul.show {
  display: block;
}

.user-icon{
  border-radius: 50%;
}
.mini-icon{
  position: absolute;
}
.list-banner{
  display: block;
  min-height: 60px;
  padding: 16px;
  color: #333;
  background-color: #fafafa;
  position: relative;
  border-bottom: 2px solid whitesmoke;
}
.lists__item{
  margin: 15px 40px 0 68px;
  position: absolute;
}
.migi{
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}
.mypage__go-list{
  padding: 13px;
  background-color: #fafafa;
}
.mypage__go-list a{
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
}
.mypage__go-list a:hover{
  background-color: aquamarine;
}