// clearfix
@mixin clearfix{
  &::after {
  content: “”;
  display: block;
  clear: both;
  }
}

// ビュー作成時のブロック境界線表示用
@mixin test-border-line{
  border: 1px solid black;
}

@mixin brand-bar-nav{
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

@mixin input {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $gray-lv2;
  border-radius: 4px;
  background: #fff;
  color: $black;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  &:focus {
    border: 1px solid skyblue;
    outline: none;
  }
}

@mixin text_field-default{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

@mixin text_area-default{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

@mixin select-default{
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

//button タグのCSSをリセット
@mixin btn-reset{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
}

@mixin required{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

@mixin button-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

@mixin btn-red{
  margin: 0 auto;
  background: #ea352d;
  border: 1px solid #ea352d;
  width: 50%;
  height: 50px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 30px;
  line-height: 50px;
}